<div class="content">
    <div class="item">
    <img src="/images/{{img}}" alt="{{title}}">
    <h2>{{title}}</h2>
    </div>
    <div class="description">
        <p>{{autor}}</p>
        <p>{{date}}</p>
        <p>{{genres}}</p>
    </div>
</div>    